.nav{
    &-color{
        color: rgb(250, 250, 250); 
        &:hover{
            color: rgb(23, 89, 114);
            transform: scale(0.95,0.95);
            transition: all 0.3s;
        }
    }

    &-fondo{
        background-color:rgb(163, 195, 205);
    }

    &-logo{
        width: 26px;
        height: 26px;
    }
}

.navbar-toggler-border-color{
    color: rgb(23, 89, 114);
}