/* LETRAS */
$font-principal: 'Noto Sans JP', sans-serif;
$font-text: 'Roboto', sans-serif;

/* COLORS */
$color-one: rgb(255, 255, 255);
$color-two: rgb(0, 0, 0);
$color-three: rgb(241, 239, 239);
$special-color: rgb(229, 204, 204);